@page "/arrivals"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject FlightBookingApiClient FlightBookingApi

<PageTitle>Arrivals</PageTitle>

<h1>Arrivals</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

@if (arrivals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th aria-label="ArrivalUtc">Time</th>
                <th aria-label="Price">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var arrival in arrivals)
            {
                <tr>
                    <td>@arrival.Id</td>
                    <td>@arrival.ArrivalUtc</td>
                    <td>@arrival.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Arrival> arrivals = null!;

    protected override async Task OnInitializedAsync()
    {
        arrivals = await FlightBookingApi.GetArrivalsAsync();
    }
}
